
#productWall {
	min-height:400px;
	background:#fff;
	color:#000;
	padding-left:120px;
	padding-top:35px;
	padding-bottom:35px;
	overflow:hidden;
}

#productWall .wallItem {
	background:#ededed;
}

#productWall .wallItem:hover {
	background:#cbcbcb;
}