#fpo-marquee {
	background:url(../images/home/cosmic.jpg) top center no-repeat;
	background-size:cover;
	height:948px;
}

.btn-navbar {
	width:33px;
	position:absolute;
	top:40px;
	left:5%;
	cursor:pointer;
	background:#fff;
	z-index:20;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	        border-radius: 3px 3px 3px 3px;
}

.btn-navbar .icon-bar {
  	width: 100%;
  	height: 6px;
	margin-bottom:3px;
  	background: #000;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}


@media (min-width: 1110px) {
	
	
	
	.nav-collapse {
		height: auto !important;
		overflow: visible !important;
	}
	
	.btn-navbar {
		display:none;
	}
	
	.mobile-only {
		display:none;
	}
}


@media (max-width: 1109px) {
	
	h1 { font-size:40px; }
	h2 { font-size:30px; }
	h3 { font-size:24px; }
	h4 { font-size:18px; }
	h5 { font-size:16px; }
	h6 { font-size:14px; }
	
	.marquee .disclaimer {
	    font-size: 12px;
		color:#666;
	}

	.marquee .title {
	    font-size: 40px;
	}

	.marquee .sub-title {
	    font-size: 21px;
	}
	
	.we-are-trew {
	    padding-top: 30px;
	}
	
	.we-are-trew p {
		margin-bottom:15px;
	}
	
	p.intro {
		font-size:16px;
	}
	
	.cta {
		font-size:16px;
	}
	
	.circle-tout, .circle-tout.last, .team-member {
	    float: none;
	    margin:0 auto 60px auto;
	}
	
	.team-member {
		width:280px;
	}
	
	.circle-tout.last {
		margin:0 auto;
	}
	
	.circle-tout img {
		margin:0 auto;
	}
	
	ul.pullright.nav.right-nav {
		display:block;
	    position:static;
		padding:30px 0;
	}
	
	ul.pullright.nav.right-nav li {
		float:none;
		margin:0 10px 0 0;
	}
	
	ul.pullright.nav.right-nav li a {
		font-size:16px;
		padding-left:20px;
	}

	
	#marqueeWrap, #marqueeWrap .vertical-center {
		height:400px;
	}
	
	.btn-navbar {
		display:block;
	}
	
	.nav-collapse {
		position:absolute;
		top:100px;
		left:0;
		width:100%;
		height: 0;
	    overflow: hidden;
		background:#fff;
	}
	
	.nav-collapse.auto {
		height: auto;
		overflow: visible;
	}
	
	#trew-nav-wrap {
		width:100%;
		margin:0;
	}
	
	#trew-nav-main {
		width:auto;
		height:auto;
		min-height:100px;
	}
	
	#trew-nav-logo {
		left:50%;
		margin-left:-37px;
	}
	
	#trew-nav, .right-nav {
		background:#fff;
		overflow:hidden;
		width:90%;
		margin:0 auto;
	}
	
	#trew-nav ul, #trew-nav li {
		float:none;
		display:block !important;
		visibility:visible !important;
		background:none !important;
		position:static;
		width:auto !important;
		height:auto !important;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
	
	.content {
		width:90%;
		margin:0 auto;
	}
	
	#footer {
	    padding: 40px 0 10px 0;
	}
	
	#footer .column {
	    width: auto;
		margin:10px 0;
	}
	
	#footer .column.column1 {
	    width: 60%;
		float:left;
	}
	
	#footerBase {
	    margin: 10px 0;
	}

	
	/*PDP*/
	

	/*CART*/
	
	#cart-page {
		padding:0;
	}
	
	#cart-page .left, #cart-page .right {
		float: none;
		width: auto;
		margin:0 auto;
		position:static !important;
		margin-bottom:40px;
	}
	
	#cart-page .right {
		padding-top:0;
	}
	
	#cart-page .right .main-header {
		position:relative !important;
		width:auto;
		display:block;
	}
	
	.product-scroller .left, .product-scroller .right {
	    float:none;
		width:90%;
		margin:40px auto 20px auto;
	}
	
	.product-scroller .right {
		margin:0 auto 40px auto;
	}
	
	.product-scroller .vertical-center {
	    height: auto;
	}
	
	.product-scroller .title {
	    font-size: 24px;
	}

	.product-scroller p {
	    font-size: 14px;
	}
	
	.product-scroller .arrow-large {
	    top: 25%;
	}
	
	.social-left {
	    float: none;
	    width: auto;
		margin-bottom:20px;
	}

	.instagram-bg {
	    float: none;
		margin:0 auto 20px auto;
	}
	
	.about-us-wrap {
	    min-height: 1400px;
	    padding-top: 90px;
		padding-bottom:30px;
	}
	
	.about-content {
	    width: 90%;
	}
	
	.about-content {
	    background-size:60px;
	}
	
	.about-content .inner {
	    padding: 60px 50px 50px 110px;
	}
	
	.about-content a {
	    height: auto;
		min-height:30px;
	}

}

@media (max-width: 767px) {
	
	.dealers {
		width:100%;
		overflow:hidden;
	}
	
	.dealers .column {
		width:auto !important;
		float:none !important;
		margin:0 !important;
	}
	
	.team-grid {
		margin:0;
	}
}

@media (max-width: 640px) {
	
	.circle-tout img {
		width:90%;
	}
	
	.team-member .image {
		width:280px;
		height:280px;
		margin:0 auto 30px auto;
	}
	
	.instagram-bg {
	    width:100%;
		height:300px;
	}
	
	.about-content {
	    background-image:none;
	}
	
	.about-content .inner {
	    padding: 40px;
	}
	
	.note.shipping-notice {
	    font-size:10px;
	}
	
}

@media (max-width: 479px) {
	
	.note.shipping-notice {
	    display:none;
	}
}




