
* {
	margin: 0;
	padding: 0;
}

a, img {
	outline: none;
	border:0;
	text-decoration:none;
}

p a:hover { color:#00adee; }
.static p a { color:#00adee; }
.static ul { padding-left:30px; margin-bottom:15px; }

body, p, a {
	font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
/*	font-size:14px;*/
	color:#252525;
}

p {
	line-height:130%;
	margin:0 0 15px 0;
}

p.intro {
	font-size:21px;
}

b {
	font-weight:600;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height:100%;
	margin:0 0 20px 0;
}

h1 { font-size:80px; font-weight: 800; }
h2 { font-size:60px; font-weight: 800; }
h3 { font-size:48px; }
h4 { font-size:30px; }
h5 { font-size:24px; }
h6 { font-size:18px; }


.animated {
	        transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	   -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.animated.quad {
	        transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	   -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.vertical-center {
	position:relative;
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}

.circle {
	-webkit-border-radius:9999px;
	   -moz-border-radius:9999px;
	        border-radius:9999px;
}

.button {
	display:inline-block;
	background:#000;
	color:#f7f2ee;
	border:#9b8877 1px solid;
	font-size:21px;
	font-weight:700;
	text-transform:uppercase;
	padding:0 30px;
	height:60px;
	line-height:60px;
	cursor:pointer;
}

.button.radius {
	border:none;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.button:hover {
	background:#00aeef;
}

.cta {
	font-size:21px;
	height:30px;
	line-height:30px;
	display:inline-block;
}

.cta .arrow {
	width:30px;
	height:30px;
	display:inline-block;
	padding-left:8px;
	background:url(../images/ui/cta-arrow.png) center center no-repeat;
	position:relative;
	top:8px;
}

.content {
	position:relative;
	width:1110px;
	margin:0 auto;
}

.content.static { margin-bottom:30px; }

#marqueeWrap {
	position:relative;
	height:860px;
	background:#CCC;
}

#marqueeWrap .vertical-center {
	height:860px;
}

.marquee-background {
	position: absolute;
	top: 0;
	z-index: 0;
	width:100%;
	height:100%;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
}

.marquee {
	position:relative;
	z-index:1;
}

.marquee .title {
	font-size:80px;
}

.page-header {
	background:#b9d4e5 url(../images/page-header.jpg) top center no-repeat;
	background-size:cover;
	height:192px;
	margin-bottom:40px;
}

.page-header .vertical-center {
	width:100%;
	height:192px;
}

.we-are-trew {
	background:url(../images/home/bg-we-are-trew.jpg) top center no-repeat;
	background-size:cover;
	height:260px;
	padding-top:80px;
}

.we-are-trew .title { margin-bottom:10px; }
.we-are-trew p {
	color:#6f7372;
	margin-bottom:40px;
}

.we-are-trew hr {
	background:#00aeef;
	height:3px;
	width:120px;
	border:none;
	margin:0 auto 10px auto;
}

.circle-touts {
	padding:65px 0;
	overflow:hidden;
}

.circle-tout {
	display:block;
	float:left;
	text-align:center;
	margin-right:15px;
}

.circle-tout.last {
	margin-right:0;
}

.circle-tout img {
	margin-bottom:30px;
	display:block;
}

.product-scroller, #pdpWrap {
/*	min-height:980px;*/
	background: rgb(216,216,216); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(216,216,216,1) 0%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 57%, rgba(216,216,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(43%,rgba(255,255,255,1)), color-stop(57%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 57%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 57%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 57%,rgba(216,216,216,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(216,216,216,1) 0%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 57%,rgba(216,216,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-8 */
	position:relative;
}

.product-scroller .content {
/*	padding-top:90px;*/
}

.product-scroller img {
	max-width:100%;
	height:auto;
}

.product-scroller .left { width:60%; }
.product-scroller .right { width:40%; }

.product-scroller .vertical-center {
	width:100%;
}

.product-scroller .vertical-center {
	height:760px;
	text-align:center;
}

.product-scroller .vertical-center .loading {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	text-align:center;
}

.product-scroller .vertical-center .loading .spinner {
	left:50%;
	top:50%;
}

.product-scroller .rotation-nav {
	margin-top:60px;
}

.product-scroller .title {
	text-transform:uppercase;
	font-size:48px;
}

.product-scroller p {
	font-size:21px;
	color:#6f7372;
}

.arrow-large {
	position:absolute;
	z-index:10;
	width:80px;
	height:120px;
	background:url(../images/ui/arrow-large-left.png) center center no-repeat;
	cursor:pointer;
}

.product-scroller .arrow-large {
	top:50%;
	left:20px;
	margin-top:-60px;
	opacity:.6;
	filter:alpha(opacity=60);
}

.product-scroller .arrow-large:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

.product-scroller .arrow-large.arrow-right {
	left:auto;
	right:20px;
	background:url(../images/ui/arrow-large-right.png) center center no-repeat;
}

.trew-social {
	min-height:400px;
	padding-top:80px;
	overflow:hidden;
}


#socialShare {
	margin-top:30px;
	overflow:hidden;
}

#socialShare p, #socialShare a {
	float:left;
	margin-right:5px;
}

#socialShare p {
	line-height:22px;
	margin-right:10px;
}

/* Main Nav -------------------------------------------------------------------------- */

.note.shipping-notice {
	color:#fff;
	font-size:12px;
	line-height:48px;
	text-align:right;
	text-transform:uppercase;
}



#shell {
/*	height:800px;*/
}

#trew-nav-main {
	width:1110px;
	height:97px;
	margin:0 auto;
	position:relative;
	z-index:100;
/*	background:#999;*/
}

#trew-nav-logo {
	position:absolute;
	left:0;
	top:12px;
	width:75px;
	height:75px;
	background: url(../images/nav/logo_2014.png) top center no-repeat;
}

#trew-nav-top {
	background:#000;
	height:48px;
}

#trew-nav-wrap {
	float:right;
/*	margin-top:32px;*/
}

#trew-nav, #trew-nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:24px;
	font-size:12px;
}

#trew-nav a {
	display:block;
	padding:0 0 0 10px;
	text-decoration:none;
}

#trew-nav li {
	float:left;
	position:relative;
	padding-top:32px;
}

#trew-nav li.current {
	background:url(../images/nav/nav-indicator.png) center top no-repeat;
}

#trew-nav a {
	color:#000;
	line-height:40px;
	padding-right:20px;
	padding-left:20px;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
}

#trew-nav a.last {
	padding-right:0;
}


#trew-nav a:hover {
	color:#666;
}

#footer {
	background:#ebebeb;
	padding:80px 0 20px 0;
}

#footer * {
	font-size:12px;
	line-height:24px;
}

#footer li a {
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
}

#footer .column {
	float:left;
	width:290px;
}

#footer .column.column1 {
	width:375px;
}

#footerLogo {
	float:left;
	width:78px;
	height:143px;
	background:url(../images/footer/footerLogo.png);
	margin-right:17px;
}

#footerBase {
	margin:10px 0 0 95px;
}

.footer-nav ul, .footer-nav li {
	display:block;
	margin:0;
	padding:0;
}

#newsletter {
	background: url(../images/footer/newsletter.png);
}

/*Nav Social-----------------------------------------------------*/
.trew-nav-social {
	float:left;
	margin-top:10px;
}
.nav.social {
	display:block;
	float:left;
	width:20px;
	height:20px;
	margin:5px 3px 0px 0px;
}

.nav.social.facebook {
	background:url(../images/nav/nav-social/facebook.png) no-repeat;
}
.nav.social.twitter {
	background:url(../images/nav/nav-social/twitter.png) no-repeat;
}
.nav.social.youtube {
	background:url(../images/nav/nav-social/youtube.png) no-repeat;
}
.nav.social.pinterest {
	background:url(../images/nav/nav-social/pinterest.png) no-repeat;
}
.nav.social.instagram {
	background:url(../images/nav/nav-social/instagram.png) no-repeat;
}
.nav.social.googleplus {
	background:url(../images/nav/nav-social/googleplus.png) no-repeat;
}

/*Footer Social-----------------------------------------------------*/
.footer.social {
	display:block;
	float:left;
	width:20px;
	height:25px;
	margin:3px 3px 3px 0px;
}
.footer.social.facebook {
	background:url(../images/footer/footer-social/facebook.png) no-repeat;
}
.footer.social.twitter {
	background:url(../images/footer/footer-social/twitter.png) no-repeat;
}
.footer.social.youtube {
	background:url(../images/footer/footer-social/youtube.png) no-repeat;
}
.footer.social.pinterest {
	background:url(../images/footer/footer-social/pinterest.png) no-repeat;
}
.footer.social.instagram {
	background:url(../images/footer/footer-social/instagram.png) no-repeat;
}
.footer.social.googleplus {
	background:url(../images/footer/footer-social/googleplus.png) no-repeat;
}

.footer.social.newsletter {
	width:auto;
	padding-left:20px;
	background:url(../images/ui/icon-email.png) 0px 8px no-repeat;
	line-height:27px !important;
}

#twitter-feed, #facebook-feed {
	padding:8px 50px;
	min-height:40px;
	background:url(../images/home/icon-twitter.png) top left no-repeat;
}

#twitter-feed ul, #twitter-feed li {
	margin:0;
	padding:0;
	list-style:none;
	display:block;
}

#twitter-feed a, #facebook-feed a {
	color:#0092c5;
}

#twitter-feed .date, #facebook-feed .date {
	font-size:12px;
	margin-top:10px;
}

#facebook-feed {
	background:url(../images/home/icon-facebook.png) top left no-repeat;
	border-bottom:#ebebeb 2px solid;
	margin-bottom:20px;
}

.social-left {
	float:left;
	width:650px;
}

.instagram-bg {
	float:right;
	display:block;
	position:relative;
	width:360px;
	height:360px;
	background-size:cover;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}

.instagram-icon {
	position:absolute;
	left:20px;
	bottom:20px;
	width:31px;
	height:31px;
	background-image:url(../images/home/icon-instagram.png);
}

input, input:focus {
	font-size:16px;
	padding:4px;
	border:#999 1px solid;
	background-color:none;
	outline:none;
}


::-webkit-input-placeholder {
   color: #e1e1e1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #e1e1e1; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #e1e1e1;
}

:-ms-input-placeholder {  
   color: #e1e1e1;
}

.rotation-nav {
	text-align:center;
}

.multi-nav-item {
	background:#000;
	width:30px;
	height:30px;
	margin:0 3px;
	cursor:pointer;
	display:inline-block;
	position:relative;
	-webkit-border-radius:999px;
	   -moz-border-radius:999px;
	        border-radius:999px;
}

.multi-nav-item .indicator {
	background:#fff;
	width:14px;
	height:14px;
	position:absolute;
	 top:8px;
	left:8px;
	-webkit-border-radius:999px;
	   -moz-border-radius:999px;
	        border-radius:999px;
	opacity:0;
	filter:alpha(opacity=0);
}

.multi-nav-item:hover .indicator, .multi-nav-item.selected .indicator {
	opacity:1;
	filter:alpha(opacity=100);
}

.multi-nav-item.selected {
	cursor:default;
}

.about-us-wrap {
	background:url(../images/about/about-bg.jpg) top center;
	min-height:1339px;
	padding-top:190px;
}

.about-content {
	background-color:#000;
	background-color:rgba(0,0,0,0.9);
	background-image:url(../images/about/about-logo.png);
	background-position:30px 50px;
	background-repeat:no-repeat;
	width:1110px;
	margin:0 auto;
}

.about-content .inner {
	padding:60px 100px 50px 190px;
}

.about-content * {
	color:#fff;
	font-size:18px;
	line-height:24px;
}

.about-content a {
	font-weight:600px;
	display:block;
	margin-bottom:15px;
	padding-left:40px;
	height:30px;
	line-height:30px;
}

.about-content a.about-social {
	background:url(../images/about/about-share.png) left center no-repeat;
}

.about-content a.about-video {
	background:url(../images/about/about-watch.png) left center no-repeat;
}

.about-content a.about-pdf {
	background:url(../images/about/about-pdf.png) left center no-repeat;
}

.team-grid {
	overflow:hidden;
	padding:40px 0px;
	margin:0 -15px;
}

.team-member {
	width:360px;
	margin:10px;
	float:left;
}

.team-member .title {
	text-align:center;
	font-size:21px;
	text-transform:uppercase;
}

.team-member .image {
	width:360px;
	height:360px;
	margin-bottom:30px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

ul.pullright.nav.right-nav {
    position:absolute;
	font-size:10px;
	line-height:14px;
	top:10px;
	right:0;
}

ul.pullright.nav.right-nav li {
	list-style:none;
	float:left;
	margin-left:10px;
}

ul.pullright.nav.right-nav li a {
	color:#969696;
	text-decoration:none;
}


#cartStatus {
	background:url(../images/ui/cart.png) 0px 0px no-repeat;
	padding-left:25px;
	margin-top:15px;
	color:#969696;
	font-size:16px;
	font-weight: 600;
	text-transform:uppercase;
}

#cartStatusLi, ul.pullright.nav.right-nav li.loggedin, ul.pullright.nav.right-nav li.loggedout { display:none; }

#cartList {
	color:#000;
	background:#f5f5f5;
	
/*	border:#000 1px solid;*/
}

#no-items {
	color:#000;
}

#cart {
	width:100%;
	border-spacing:0;
	font-size:12px;
}

#cart a {
	text-decoration:none;
}

#cart th {
	font-size:21px;
	font-weight:600;
	background:#000;
	color:#fff;
	text-align:left;
	padding:10px;
	text-transform:capitalize;
	letter-spacing:1px;
}

#cart tr {
	border-bottom:#000 10px solid;
	padding-bottom:10px;
}

#cart td {
	padding:10px;
}

#cart td.productName {
	font-weight:bold;
}

#cart td, #cart th {
/*    border-top: #000 1px solid;*/
    border-bottom: #CCC 1px solid;
}

#cart input.qty {
	padding:4px;
	width:30px;
	border: #CCC 1px solid;
}

#cart td.subtotal, #cart td.checkout {
	text-align:right;
	background:#fff;
	border-bottom:none;
}

.cart-image {
	height:80px;
}

button.close {
	width:25px;
	height:25px;
	background:url(../images/ui/close.png);
	border:none;
	cursor:pointer;
}



#cart-page, #cart-page h1 {
	color:#000;
}

#cart-page input, #cart-page textarea, #accountPage input, #accountPage textarea {
	padding:4px;
	border: #CCC 1px solid;
	display:inline-block;
	margin-bottom:5px;
}

#cart-page select {
/*	display:block;*/
}

#accountPage, #accountPage h3, #accountPage p, #accountPage span, #accountContent, #accountContent h1 {
	color:#000;
}

#accountPage a {
/*	color:#ff0000;*/
}

#accountPage button.btn-primary, #accountPage a.reset-password {
	display:block;
	margin:10px 0;
}

#accountPage .form-inline {
	padding:20px;
	border-top:#CCC 1px solid;
	border-bottom:#CCC 1px solid;
}

#accountPage .alert-error {
	padding:5px 0;
}

#accountPage .alert-error span {
	color:#ff0000;
	font-weight:bold;
}


/* Email Signup -------------------------------------------------------------------------- */
/*
#newsletter-signup {
	float:right;
}

fieldset {
	border:none;	
}


input, input:focus {
	border:#999 1px solid;
	background-color:none;
	outline:none;
}

#signup-label, #mc_embed_signup label {
	font-family:"ExpansionN11D" !important;
	font-weight:normal !important;
	font-size:21px !important;
	margin:9px 10px 0 0 !important;
	padding:0 !important;
	display:block !important;
	color:#979797;
	position:absolute;
	right:170px;
}

#mc_embed_signup {
	width:175px;
	padding:0 !important;
	font:9px Helvetica,Arial,sans-serif;
}
	
	

#signup-email, #mc_embed_signup input.email {
	border:none;
	outline:none;
	float:left;
	padding:5px 0px 5px 5px !important;
	margin:0px !important;
	color:#fff;
	background:#979797;
	height:19px;
	width:130px !important;
	display:block !important;
	-moz-border-radius:0px !important;
	-webkit-border-radius:0px !important;
	border-radius:0px !important;
}

::-webkit-input-placeholder {
   color: #e1e1e1;
}

:-moz-placeholder {
   color: #e1e1e1; 
}

::-moz-placeholder {
   color: #e1e1e1;
}

:-ms-input-placeholder {  
   color: #e1e1e1;
}

#signup-button, #mc_embed_signup input.button {
	width:30px !important;
	min-width:30px !important;
	height:29px !important;
	background:url(../images/nav/signupCta.png);
	display:block !important;
	float:left;
	border:none !important;
	outline:none !important;
	margin:0 !important;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	padding:0;
}

#signup-button:hover, #mc_embed_signup input.button:hover {
	background-position:0px -29px;
}

#signup-response {
	margin-top:20px;
	float:left;
	margin-left:5px;
	width:100px;
	opacity:.8;
	filter: alpha(opacity=80);
	display:none;
}
*/

/* OVERRIDING SUB CLASSES: */
.blue { color:#00adee; }
.white { color:#fff; }
.clear { clear:both; }
.underline { text-decoration:underline; }
.center { text-align:center; }
.right { float:right; }
.left { float:left; }
.left-50 {
	float:left;
	width:50%;
}
.overflow-hidden { overflow:hidden; }
.note {
	font-size:10px;
	line-height:16px;
	color:#999;
}


