
h3.entry-title { font-size:36px; }
h3.widgettitle {
	font-size:21px;
	border-bottom:#000 2px solid;
}

a.read-more {
	display:inline-block;
	font-weight:600;
	font-weight:18;
	height:30px;
	line-height:30px;
}

a.read-more.cta .arrow {
	padding-left:25px;
}

#mainContent {
	width:730px;
	float:left;
	margin-bottom:40px;
}

#sidebar {
	width:260px;
	float:right;
/*	padding-top:20px;*/
}

#sidebar ul li {
	display:block;
}

#sidebar ul li a {
	font-size:14px;
	line-height:24px;
}

#sidebar ul li.widget {
/*	border-top:#000 1px solid;*/
	padding:15px 0;
}


#most_recent_content {
	padding:0px 0px 20px 0px;
	min-height:300px;
	height:auto !important;
	height:300px;
}

#most_recent_content p {
	margin: 1.5em 0;
}

#most_recent_content .wp-caption p {
	margin:10px 0;
}




#schedule {
	float:left;
	position:relative;
	width:332px;
	margin:40px 20px 0px 0px; 
}

#archivePosts {
/*	float:left;*/
/*	position:relative;*/
}



#page_description {
	color: #97999c;
	text-align:left;
	float: left;
	margin: 0px 25px 0px 0px;
	width:455px;
}


.divider1 { 
  	width: 915px;
	height: 1px;
  	background: #333333;
	margin: 0;
	padding: 0;
	font-size:0;
}

.divider2 { 
  	width: 563px;
	height: 1px;
  	background: #333333;
	padding: 0;
	margin: 0px 0px 10px 0px;
	font-size:0;
}

.divider3 { 
  	width: 331px;
	height: 1px;
  	background: #333333;
	padding: 0;
	margin: 10px 0px 10px 0px;
	font-size:0;
}

.standardPost {
	margin:0px 0px 40px 0px;
/*	width:563px;*/
	border-bottom:#000 2px solid;
}

.standardPost.secondary {
	
}


/*wordpress items ===============================================================================================*/

div.skip-link {
position:absolute;
right:1em;
top:1em;
}

div#menu {
background:#EEE;
height:1.5em;
margin:1em 0;
width:100%;
}

div#menu ul,div#menu ul ul {
line-height:1;
list-style:none;
margin:0;
padding:0;
}

div#menu ul a {
display:block;
margin-right:1em;
padding:0.2em 0.5em;
text-decoration:none;
}

div#menu ul ul ul a {
font-style:italic;
}

div#menu ul li ul {
left:-999em;
position:absolute;
}

div#menu ul li:hover ul {
left:auto;
}


.entry-meta-sm * {
	font-size:12px;
	font-weight:100;
	text-transform:uppercase;
	letter-spacing:1px;
}


.entry-meta-text {
	margin: 10px 0px 0px 0px;
	
}

.meta-sep {
	position:relative;
	top:-6px;
	display:inline-block;
	vertical-align: bottom;
	 width:6px;
	height:6px;
	margin:0 5px;
	background:#000;
	-webkit-border-radius:999px;
	   -moz-border-radius:999px;
	        border-radius:999px;
}

.entry-date {
	
}

.standardPost img {
/*	width: 50%;
	height: 50%;*/
}

div#container,div#primary {
/*> margin-top:2em;*/
}

form#commentform .form-label {
margin:1em 0 0;
}

form#commentform span.required {
/*background:#fff;*/
color:#c30;
}

form#commentform,form#commentform p {
padding:0;
}

input#author,input#email,input#url,textarea#comment {
padding:0.2em;
}

div.comments ol li {
margin:0 0 3.5em;
}

textarea#comment {
height:13em;
margin:0 0 0.5em;
overflow:auto;
width:66%;
}



.archives ul {
	list-style:none;
}

.alignright,img.alignright{
float:right;
margin:1em 0 0 1em;
}

.alignleft,img.alignleft{
float:left;
/*margin:1em 1em 0 0;
border:50px;*/

}

.aligncenter,img.aligncenter{
display:block;
margin:1em auto;
text-align:center;
}

div.gallery {
clear:both;
height:180px;
margin:1em 0;
width:100%;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry-content .wp-caption {
/*	border: none;
	background-color:none;*/
}

.entry-content p {
	margin: 1.5em 0;
}

.wp-caption {
/*	border: 5px solid #ffffff;*/
	text-align: left;
/*	background-color: #f6f6f6;*/
	padding-top: 5px;
	margin: 0px 20px 0px 0px;
}

.entry-content .wp-caption {
/*	background:none;*/
}

.entry-content .wp-caption img {
/*	border: 1px solid #ffffff;*/
	text-align: left;
/*	background-color: #f6f6f6;*/
/*	padding: 5px;*/
	margin: 0px 20px 0px 0px;
}

.wp-caption img {
	border: 5px solid #ffffff;
	margin: 0px 0px 0px 5px;
/*	border: 0 none;*/
	background: #ffffff;
}




div.gallery dl {
	margin:1em auto;
	overflow:hidden;
	text-align:center;
}

div.gallery dl.gallery-columns-1 {
width:100%;
}

div.gallery dl.gallery-columns-2 {
width:49%;
}

div.gallery dl.gallery-columns-3 {
width:33%;
}

div.gallery dl.gallery-columns-4 {
width:24%;
}

div.gallery dl.gallery-columns-5 {
width:19%;
}


div#menu ul li,div.gallery dl,div.navigation div.nav-previous {
	float:left;
	text-transform:uppercase;
}

div#header,div#footer {
/*text-align:center;*/
}

input#author,input#email,input#url,div.navigation div {
width:50%;
}

div.gallery *,div.sidebar div,div.sidebar h3,div.sidebar ul {
margin:0;
padding:0;
}


.form-label label {
	text-transform:uppercase;
	font-weight:bold;
	line-height:20px;
}

.form-submit input[type="submit"] {

}



@media (max-width: 979px) {
	
	#mainContent, #sidebar {
		width: auto !important;
		margin:0 auto;
		float: none;
		padding-top: 20px;
	}

}

